### Q1. 주어진 데이터에서 10이상 20이하의 데이터만 출력하는 Series를 재정의 해보세요.

In [90]:
import pandas as pd

idx = ["HDD", "SSD", "USB", "CLOUD"]
data = [19, 11, 5, 97]

series = pd.Series(data, index=idx)

print(series)
print("-------------------")
series = series[(series >=10) & (series <= 20)]
print(series)

HDD      19
SSD      11
USB       5
CLOUD    97
dtype: int64
-------------------
HDD    19
SSD    11
dtype: int64