### Q2. 두 데이터를 하나의 데이터로 결합하세요/ 결합한 데이터의 type을 이용해 데이터를 정렬해보세요/ 과일과 야채 중 가장 비싼 가격의 합을 출력해보세요.

In [6]:
import pandas as pd

df1 = pd.DataFrame([['cherry', 'Fruit', 100],            # 데이터 프레임 생성
                    ['mango', 'Fruit', 110],
                    ['potato', 'Vegetable', 60],
                    ['onion', 'Vegetable', 80]], columns=['Name', 'Type', 'Price']) # 컬럼 지정

df2 = pd.DataFrame([['pepper', 'Vegetable', 50],         # 데이터 프레임 생성
                    ['carrot', 'Vegetable', 70],
                    ['banana', 'Fruit', 90],
                    ['kiwi', 'Fruit', 120]], columns=['Name', 'Type', 'Price']) # 컬럼 지정

df3 = pd.concat([df1, df2])            # 데이터 프레임 df1, df2 를 pd.concat()을 활용하여 결합
df3

     Name       Type  Price
0  cherry      Fruit    100
1   mango      Fruit    110
2  potato  Vegetable     60
3   onion  Vegetable     80
0  pepper  Vegetable     50
1  carrot  Vegetable     70
2  banana      Fruit     90
3    kiwi      Fruit    120

In [17]:
df_fruit = df3.loc[df3['Type'] == 'Fruit']                                # df3 중 'Type'이 'Fruit'만 추출
df_fruit = df_fruit.sort_values(by=['Price'], axis=0, ascending=False)    # 'Price'를 내림차순으로 정렬
df_fruit

     Name   Type  Price
3    kiwi  Fruit    120
1   mango  Fruit    110
0  cherry  Fruit    100
2  banana  Fruit     90

In [18]:
df_veg = df3.loc[df3['Type'] == 'Vegetable']                            # df3 중 'Type'이 'Vegetable'만 추출
df_veg = df_veg.sort_values(by=['Price'], axis=0, ascending=False)      # 'Price'를 내림차순으로 정렬
df_veg

     Name       Type  Price
3   onion  Vegetable     80
1  carrot  Vegetable     70
2  potato  Vegetable     60
0  pepper  Vegetable     50

In [21]:
print("Sum of Top 2 Fruit Price : ", sum(df_fruit[:2]['Price']))       # df_fruit 의 'Price' 상위 2개를 추출하여 sum
print("Sum of Top 2 Vegetable Price : ", sum(df_veg[:2]['Price']))     # df_veg 의 'Price' 상위 2개를 추출하여 sum

Sum of Top 2 Fruit Price :  230
Sum of Top 2 Vegetable Price :  150