### Q3. 참여자의 이름을 index로 해서 각 라운드의 columns를 추가해 데이터를 정리하세요./ 6번째 라운드의 점수가 아래와 같을 때, 이를 추가해보세요./ 각 데이터의 mean, max, min 값을 출력해보세요.

In [2]:
import pandas as pd

idx = ["Sue", "Ryan", "Jay", "Jane", "Anna"]
col = ["round_1", "round_2", "round_3", "round_4", "round_5"]
data = [[55, 65, 69, 66, 57],
        [64, 77, 71, 79, 67],
        [88, 81, 79, 89, 77],
        [45, 35, 30, 46, 47],
        [91, 96, 90, 97, 99]]

In [3]:
df = pd.DataFrame(data, index=idx, columns=col)  # 'idx'를 index로 'col'을 columns로 하는 df생성
df

      round_1  round_2  round_3  round_4  round_5
Sue        55       65       69       66       57
Ryan       64       77       71       79       67
Jay        88       81       79       89       77
Jane       45       35       30       46       47
Anna       91       96       90       97       99

In [4]:
round_6 = [11, 15, 13, 17, 19]     # 6라운드 점수 리스트
df["round_6"] = round_6            # df에 column 명 'round_6'로 하는 6라운드 점수 추가
df

      round_1  round_2  round_3  round_4  round_5  round_6
Sue        55       65       69       66       57       11
Ryan       64       77       71       79       67       15
Jay        88       81       79       89       77       13
Jane       45       35       30       46       47       17
Anna       91       96       90       97       99       19

In [20]:
df.describe().loc[['mean', 'max', 'min']]     # 각 컬럼의 중 해당 되는 통계값 출력

      round_1  round_2  round_3  round_4  round_5  round_6
mean     68.6     70.8     67.8     75.4     69.4     15.0
max      91.0     96.0     90.0     97.0     99.0     19.0
min      45.0     35.0     30.0     46.0     47.0     11.0